<!-- Modal -->
<div class="modal fade" id="ModalCliente" tabindex="-1" role="dialog" aria-labelledby="ModalClienteTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 90%;margin-top: 200px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalClienteTitle">Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table">
          <table id="tablaSolicitudes" class="display" style="width:100%">
            <tbody id="modal-body-pre">
              <tr>
                <td><strong> </strong></td>
                <td id='td1'></td>
              </tr>
              <tr>
                <td><strong>Nombre: </strong></td>
                <td id='td2'></td>
              </tr>
              <tr>
                <td><strong>Mail: </strong></td>
                <td id='td3'></td>
              </tr>
              <tr>
                <td><strong>descuento: </strong></td>
                <td id='td4'></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalInfo" tabindex="-1" role="dialog" aria-labelledby="ModalInfoTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 90%;margin-top: 200px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalInfoTitle">Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table">
          <table id="tablaInfo" class="display" style="width:100%">
            <tbody id="modal-body-pre">
              <tr><td><strong>mtd1 del Cliente: </strong></td><td id='mtd1'></td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalMensaje" tabindex="-1" role="dialog" aria-labelledby="ModalMensajeTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 90%;margin-top: 200px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalMensajeTitle">Mensaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="window.location.reload()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modal-body-preMensaje"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload()">Cerrar</button>
      </div>
    </div>
  </div>
</div>


