{{> header}}
<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

<div class="container" style="">
  <hr>
  <h2>Configuraciones</h2>
  {{{error}}}
  <hr>

  <button onclick="guardarConfig()" class="btn btn btn-outline-info">Guardar Cambios</button>
</div>

{{> modals }}

<script type="text/javascript">

</script>
